{{#if currency_selector.currencies.length '>' 1}}
<li id="currency-converter">
    <label>{{lang 'currency.label'}}</label>
    <a class="navUser-action has-dropdown" href="#" data-dropdown="currencySelection" aria-controls="currencySelection" aria-expanded="false"><span>{{{currency_selector.active_currency_flag}}} {{currency_selector.active_currency_name}}</span><i class="fa fa-chevron-down"></i></a>
    <ul class="dropdown-menu" id="currencySelection" data-dropdown-content aria-hidden="true" tabindex="-1">
        {{#each currency_selector.currencies}}
        <li class="dropdown-menu-item">
            <a href="{{{switch_url}}}">
                {{#if is_active}}
                {{{flag}}} <strong>{{name}}</strong>
                {{else}}
                {{{flag}}} {{name}}
                {{/if}}
            </a>
        </li>
        {{/each}}
    </ul>
</li>
{{/if}}
