<div id="footerSubcribeForm">
    <h5>{{lang 'newsletter.subscribe'}}</h5>
        <p>{{lang 'newsletter.subscribe_intro'}}</p>
    <form class="form" action="{{urls.subscribe.action}}" method="post">
        <fieldset class="form-fieldset">
            <input type="hidden" name="action" value="subscribe">
            <input type="hidden" name="nl_first_name" value="bc">
            <input type="hidden" name="check" value="1">
            <div class="form-field">
                <div class="form-wrap">
                    <input class="form-input" id="nl_email" name="nl_email" type="email" value="{{customer.email}}" placeholder="{{lang 'newsletter.email_placeholder'}}">
                    <input class="btn btn-subcribe" type="submit" value="{{lang 'newsletter.subscribe_submit'}}">
                </div>
            </div>
        </fieldset>
    </form>
</div>
