{{#partial "page"}}
<div class="container">
<div id="breadcrumbs-wrapper">
   <ul class="breadcrumbs">
       <li class="breadcrumb ">
           <a href="/" class="breadcrumb-label">Home</a>
       </li>
       <li class="breadcrumb is-active">
           <span class="breadcrumb-label">Unsubscribe</span>
       </li>
   </ul>
</div>
<h1 class="page-heading">{{lang 'newsletter.unsubscribed_heading'}}</h1>
<section class="page">
    <div class="page-content page-content--centered">
        {{> components/common/alert-success (lang 'newsletter.unsubscribed_message' store_name=settings.store_name)}}
    </div>
</section>
</div>
{{/partial}}
{{> layout/base}}
