<div class="container">
   <div id="homeBrands">
        <div class="owl-carousel" data-owl='{
            "items": 5,
            "nav": true,
            "dots": false,
            "slideBy": 5,
            "responsive": {
               "0": {
                  "items": 1,
                  "slideBy": 1
               },
               "480": {
                  "items": 2,
                  "slideBy": 2
               },
               "768": {
                  "items": 3,
                  "slideBy": 3
               },
               "991": {
                  "items": 4,
                  "slideBy": 4
               },
               "1200": {
                  "items": 5,
                  "slideBy": 5
               }
            },
            "responsiveRefreshRate": 0
         }'>
            <a href="#" title="loremous"><img src="/product_images/uploaded_images/brands-1.jpg" alt="loremous" /></a>
            <a href="#" title="isabella"><img src="/product_images/uploaded_images/brands-2.jpg" alt="isabella" /></a>
            <a href="#" title="magcor"><img src="/product_images/uploaded_images/brands-3.jpg" alt="magcor" /></a>
            <a href="#" title="fermends"><img src="/product_images/uploaded_images/brands-4.jpg" alt="fermends" /></a>
            <a href="#" title="conseqaur"><img src="/product_images/uploaded_images/brands-5.jpg" alt="conseqaur" /></a>
            <a href="#" title="loremous"><img src="/product_images/uploaded_images/brands-1.jpg" alt="loremous" /></a>
            <a href="#" title="isabella"><img src="/product_images/uploaded_images/brands-2.jpg" alt="isabella" /></a>
            <a href="#" title="magcor"><img src="/product_images/uploaded_images/brands-3.jpg" alt="magcor" /></a>
            <a href="#" title="fermends"><img src="/product_images/uploaded_images/brands-4.jpg" alt="fermends" /></a>
            <a href="#" title="conseqaur"><img src="/product_images/uploaded_images/brands-5.jpg" alt="conseqaur" /></a>
        </div>
    </div>
</div>
