<div id="homeSpotlight" class="module-wrapper">
    <div class="container">

        <h2 class="module-heading"><span>#Featured On Ella</span></h2>

        <div class="row">

            <div class="spotlight-item col-xs-4">
                <div class="spot-image">
                    <a href="#"><img src="/product_images/uploaded_images/home-spotlight-1.jpg" alt="Lorem Et Dorus" /></a>
                </div>
                <h4 class="spot-title">Lorem Et Dorus</h4>
                <p class="spot-desc"> Nullam aliquet vestibulum augue non varius. Cras nec congue elitos. Duis tristique del ante nec aliquam. Praesent urna tellus laoreet an tellus ullamcorper fermentum facilisis eratum.</p>
                <a href="#" class="btn btn-primary shop-now-btn">Shop Now<i class="fa fa-caret-right"></i></a>
            </div>

            <div class="spotlight-item col-xs-4">
                <div class="spot-image">
                    <a href="#"><img src="/product_images/uploaded_images/home-spotlight-2.jpg" alt="Milancelos A Lanos" /></a>
                </div>
                <h4 class="spot-title">Milancelos A Lanos</h4>
                <p class="spot-desc"> Nullam aliquet vestibulum augue non varius. Cras nec congue elitos. Duis tristique del ante nec aliquam. Praesent urna tellus laoreet an tellus ullamcorper fermentum facilisis eratum.</p>
                <a href="#" class="btn btn-primary shop-now-btn">Shop Now<i class="fa fa-caret-right"></i></a>
            </div>

            <div class="spotlight-item col-xs-4">
                <div class="spot-image">
                    <a href="#"><img src="/product_images/uploaded_images/home-spotlight-3.jpg" alt="Comos De Milano" /></a>
                </div>
                <h4 class="spot-title">Comos De Milano</h4>
                <p class="spot-desc"> Nullam aliquet vestibulum augue non varius. Cras nec congue elitos. Duis tristique del ante nec aliquam. Praesent urna tellus laoreet an tellus ullamcorper fermentum facilisis eratum.</p>
                <a href="#" class="btn btn-primary shop-now-btn">Shop Now<i class="fa fa-caret-right"></i></a>
            </div>

        </div>
    </div>
</div>
