<div class="halo-best-selling-promotion">
  <div class="container">
    <ul class="list-top">
      <li class="hl-label">Low Voltage Drives:</li>
      <li><a href="#" title="iC7-Automation">iC7-Automation</a></li>
      <li><a href="#" title="VLT® AutomationDrive FC 300">VLT® AutomationDrive FC 300</a></li>
      <li><a href="#" title="VLT® AQUA Drive FC 202">VLT® AQUA Drive FC 202</a></li>
      <li><a href="#" title="VLT® HVAC Drive FC 102">VLT® HVAC Drive FC 102</a></li>
      <li><a href="#" title="VLT® Refrigeration Drive FC 103">VLT® Refrigeration Drive FC 103</a></li>
      <li><a href="#" title="VLT® HVAC Basic Drive FC 101">VLT® HVAC Basic Drive FC 101</a></li>
      <li><a href="#" title="VLT® Midi Drive FC 280">VLT® Midi Drive FC 280</a></li>
      <li><a href="#"><span>iC2-Micro Frequency converter</span></a></li>
      <li><a href="#"><span>VLT® Micro Drive FC 51</span></a></li>
      <li><a href="#"><span>VLT® AutomationDrive FC 360</span></a></li>
      <li class="showMore"><a href="javascript:void(0)">... More</a></li>
    </ul>

  </div>
</div>
