<div id="home-category-banner-block">
    <!-- First category and banner -->
    <div id="block-1" class="hl-first-category hl-home-category">
        <h2 class="module-heading">
            <a href="/electronics/" title="Electronics">Electronics</a>
            <ul  class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#new-products-1" role="tab" data-toggle="tab">New products</a></li>
                <li><a href="#top-sellers-1" role="tab" data-toggle="tab">Best selling</a></li>
                <li><a href="#featured-products-1" role="tab" data-toggle="tab">Featured Products</a></li>
                <li><a href="#most-popular-reviews-1" role="tab" data-toggle="tab">Most Popular Reviews</a></li>
            </ul>
        </h2>
        <div class="hl-home-category-content">
            <div class="col-sm-8 module-wrapper">
                <!-- begin product items -->                        
                <div  class="tab-content-bootstrap" data-tabs-content="example-tabs">
                    <div role="tabpanel" class="tab-pane active" id="new-products-1">
                        <div class="productBlockContainer"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="top-sellers-1">
                        <div class="productBlockContainer"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="featured-products-1">
                        <div class="productBlockContainer"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="most-popular-reviews-1">
                        <div class="productBlockContainer"></div>
                    </div>
                </div>
                <!-- End product items -->
            </div>
            <div class="col-sm-4 left">
                <div class="item-image">
                    <div class="owl-carousel">
                        <a href="#"><img src="/product_images/uploaded_images/banner-cat-1.png" /></a>
                        <a href="#"><img src="/product_images/uploaded_images/banner-cat-1.png" /></a>
                        <a href="#"><img src="/product_images/uploaded_images/banner-cat-1.png" /></a>
                    </div>
                </div>
                <ul class="cat-brand">
                    <li><a href="#"><img src="/product_images/uploaded_images/brand-01.png" /></a></li>
                    <li><a href="#"><img src="/product_images/uploaded_images/brand-02.png" /></a></li>
                    <li><a href="#"><img src="/product_images/uploaded_images/brand-03.png" /></a></li>
                    <li><a href="#"><img src="/product_images/uploaded_images/brand-04.png" /></a></li>
                    <li><a href="#"><img src="/product_images/uploaded_images/brand-05.png" /></a></li>
                    <li><a href="#"><img src="/product_images/uploaded_images/brand-06.png" /></a></li>
                </ul>
            </div>
        </div>
        <div class="hl-featured-category">
            <ul>
              <li class="hl-label">Featured Categories:</li>
              <li><a href="#" title="Habitasse Lateas">Habitasse Lateas</a></li>
              <li><a href="#" title="Milancelos ">Milancelos </a></li>
              <li><a href="#" title="Cosmodum Loremous">Cosmodum Loremous</a></li>
              <li><a href="#" title="Nostra Sinceptos">Nostra Sinceptos </a></li>
              <li><a href="#" title="Loremous">Loremous</a></li>
              <li><a href="#" title="Quisque Dolutpates">Quisque Dolutpates</a></li>
              <li class="showMore"><a href="javascript:void(0)">... More</a></li>
            </ul>
        </div>
    </div>
    <div class="hl-first-static hl-home-static">
        <div class="row">
            <div class="col-sm-4"><a href="#"><img src="/product_images/uploaded_images/banner-1.jpg" /></a></div>
            <div class="col-sm-4"><a href="#"><img src="/product_images/uploaded_images/banner-2.jpg" /></a></div>
            <div class="col-sm-4"><a href="#"><img src="/product_images/uploaded_images/banner-3.jpg" /></a></div>
        </div>
    </div>
    <!-- End First category and banner -->
    <!-- Second category and banner -->
    <div id="block-2" class="hl-second-category hl-home-category">
        <h2 class="module-heading">
            <a href="/computers-laptops/" title="Computers & Laptops">Computers & Laptops</a>
            <ul  class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#new-products-2" role="tab" data-toggle="tab">New products</a></li>
                <li><a href="#top-sellers-2" role="tab" data-toggle="tab">Best selling</a></li>
                <li><a href="#featured-products-2" role="tab" data-toggle="tab">Featured Products</a></li>
                <li><a href="#most-popular-reviews-2" role="tab" data-toggle="tab">Most Popular Reviews</a></li>
            </ul>
        </h2>
        <div class="hl-home-category-content">
            <div class="col-sm-8 module-wrapper">
                <!-- begin product items -->                        
                <div  class="tab-content-bootstrap" data-tabs-content="example-tabs">
                    <div role="tabpanel" class="tab-pane active" id="new-products-2">
                        <div class="productBlockContainer"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="top-sellers-2">
                        <div class="productBlockContainer"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="featured-products-2">
                        <div class="productBlockContainer"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="most-popular-reviews-2">
                        <div class="productBlockContainer"></div>
                    </div>
                </div>
                <!-- End product items -->
            </div>
            <div class="col-sm-4 left">
                <div class="item-image">
                    <div class="owl-carousel">
                        <a href="#"><img src="/product_images/uploaded_images/banner-cat-2.png" /></a>
                        <a href="#"><img src="/product_images/uploaded_images/banner-cat-2.png" /></a>
                        <a href="#"><img src="/product_images/uploaded_images/banner-cat-2.png" /></a>
                    </div>
                </div>
                <ul class="cat-brand">
                    <li><a href="#"><img src="/product_images/uploaded_images/brand-01.png" /></a></li>
                    <li><a href="#"><img src="/product_images/uploaded_images/brand-02.png" /></a></li>
                    <li><a href="#"><img src="/product_images/uploaded_images/brand-03.png" /></a></li>
                    <li><a href="#"><img src="/product_images/uploaded_images/brand-04.png" /></a></li>
                    <li><a href="#"><img src="/product_images/uploaded_images/brand-05.png" /></a></li>
                    <li><a href="#"><img src="/product_images/uploaded_images/brand-06.png" /></a></li>
                </ul>
            </div>
        </div>
        <div class="hl-featured-category">
            <ul>
              <li class="hl-label">Featured Categories:</li>
              <li><a href="#" title="Habitasse Lateas">Habitasse Lateas</a></li>
              <li><a href="#" title="Milancelos ">Milancelos </a></li>
              <li><a href="#" title="Cosmodum Loremous">Cosmodum Loremous</a></li>
              <li><a href="#" title="Nostra Sinceptos">Nostra Sinceptos </a></li>
              <li><a href="#" title="Loremous">Loremous</a></li>
              <li><a href="#" title="Quisque Dolutpates">Quisque Dolutpates</a></li>
              <li class="showMore"><a href="javascript:void(0)">... More</a></li>
            </ul>
        </div>
    </div>
    <div class="hl-second-static hl-home-static">
        <div class="row">
            <div class="col-sm-6"><a href="#"><img src="/product_images/uploaded_images/banner-4.jpg" /></a></div>
            <div class="col-sm-6"><a href="#"><img src="/product_images/uploaded_images/banner-5.jpg" /></a></div>
        </div>
    </div>
    <!-- Second First category and banner -->
    <!-- Third category and banner -->
    <div id="block-3" class="hl-second-category hl-home-category">
        <h2 class="module-heading">
            <a href="/smartphones-tablets/" title="Smartphones & Tablets">Smartphones & Tablets</a>
            <ul  class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#new-products-3" role="tab" data-toggle="tab">New products</a></li>
                <li><a href="#top-sellers-3" role="tab" data-toggle="tab">Best selling</a></li>
                <li><a href="#featured-products-3" role="tab" data-toggle="tab">Featured Products</a></li>
                <li><a href="#most-popular-reviews-3" role="tab" data-toggle="tab">Most Popular Reviews</a></li>
            </ul>
        </h2>
        <div class="hl-home-category-content">
            <div class="col-sm-8 module-wrapper">
                <!-- begin product items -->                        
                <div  class="tab-content-bootstrap" data-tabs-content="example-tabs">
                    <div role="tabpanel" class="tab-pane active" id="new-products-3">
                        <div class="productBlockContainer"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="top-sellers-3">
                        <div class="productBlockContainer"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="featured-products-3">
                        <div class="productBlockContainer"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="most-popular-reviews-3">
                        <div class="productBlockContainer"></div>
                    </div>
                </div>
                <!-- End product items -->
            </div>
            <div class="col-sm-4 left">
                <div class="item-image">
                    <div class="owl-carousel">
                        <a href="#"><img src="/product_images/uploaded_images/banner-cat-3.png" /></a>
                        <a href="#"><img src="/product_images/uploaded_images/banner-cat-3.png" /></a>
                        <a href="#"><img src="/product_images/uploaded_images/banner-cat-3.png" /></a>
                    </div>
                </div>
                <ul class="cat-brand">
                    <li><a href="#"><img src="/product_images/uploaded_images/brand-01.png" /></a></li>
                    <li><a href="#"><img src="/product_images/uploaded_images/brand-02.png" /></a></li>
                    <li><a href="#"><img src="/product_images/uploaded_images/brand-03.png" /></a></li>
                    <li><a href="#"><img src="/product_images/uploaded_images/brand-04.png" /></a></li>
                    <li><a href="#"><img src="/product_images/uploaded_images/brand-05.png" /></a></li>
                    <li><a href="#"><img src="/product_images/uploaded_images/brand-06.png" /></a></li>
                </ul>
            </div>
        </div>
        <div class="hl-featured-category">
            <ul>
              <li class="hl-label">Featured Categories:</li>
              <li><a href="#" title="Habitasse Lateas">Habitasse Lateas</a></li>
              <li><a href="#" title="Milancelos ">Milancelos </a></li>
              <li><a href="#" title="Cosmodum Loremous">Cosmodum Loremous</a></li>
              <li><a href="#" title="Nostra Sinceptos">Nostra Sinceptos </a></li>
              <li><a href="#" title="Loremous">Loremous</a></li>
              <li><a href="#" title="Quisque Dolutpates">Quisque Dolutpates</a></li>
              <li class="showMore"><a href="javascript:void(0)">... More</a></li>
            </ul>
        </div>
    </div>
    <div class="hl-second-static hl-home-static">
        <div class="row">
            <div class="col-sm-4"><a href="#"><img src="/product_images/uploaded_images/banner-6.jpg" /></a></div>
            <div class="col-sm-4"><a href="#"><img src="/product_images/uploaded_images/banner-7.jpg" /></a></div>
            <div class="col-sm-4"><a href="#"><img src="/product_images/uploaded_images/banner-8.jpg" /></a></div>
        </div>
    </div>
    <!-- Third First category and banner -->
    <!-- Four category and banner -->
    <div id="block-4" class="hl-second-category hl-home-category">
        <h2 class="module-heading">
            <a href="/cameras-camcorders/" title="Cameras & Camcorders">Cameras & Camcorders</a>
            <ul  class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#new-products-4" role="tab" data-toggle="tab">New products</a></li>
                <li><a href="#top-sellers-4" role="tab" data-toggle="tab">Best selling</a></li>
                <li><a href="#featured-products-4" role="tab" data-toggle="tab">Featured Products</a></li>
                <li><a href="#most-popular-reviews-4" role="tab" data-toggle="tab">Most Popular Reviews</a></li>
            </ul>
        </h2>
        <div class="hl-home-category-content">
            <div class="col-sm-8 module-wrapper">
                <!-- begin product items -->                        
                <div  class="tab-content-bootstrap" data-tabs-content="example-tabs">
                    <div role="tabpanel" class="tab-pane active" id="new-products-4">
                        <div class="productBlockContainer"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="top-sellers-4">
                        <div class="productBlockContainer"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="featured-products-4">
                        <div class="productBlockContainer"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="most-popular-reviews-4">
                        <div class="productBlockContainer"></div>
                    </div>
                </div>
                <!-- End product items -->
            </div>
            <div class="col-sm-4 left">
                <div class="item-image">
                    <div class="owl-carousel">
                        <a href="#"><img src="/product_images/uploaded_images/banner-cat-4.png" /></a>
                        <a href="#"><img src="/product_images/uploaded_images/banner-cat-4.png" /></a>
                        <a href="#"><img src="/product_images/uploaded_images/banner-cat-4.png" /></a>
                    </div>
                </div>
                <ul class="cat-brand">
                    <li><a href="#"><img src="/product_images/uploaded_images/brand-01.png" /></a></li>
                    <li><a href="#"><img src="/product_images/uploaded_images/brand-02.png" /></a></li>
                    <li><a href="#"><img src="/product_images/uploaded_images/brand-03.png" /></a></li>
                    <li><a href="#"><img src="/product_images/uploaded_images/brand-04.png" /></a></li>
                    <li><a href="#"><img src="/product_images/uploaded_images/brand-05.png" /></a></li>
                    <li><a href="#"><img src="/product_images/uploaded_images/brand-06.png" /></a></li>
                </ul>
            </div>
        </div>
        <div class="hl-featured-category">
            <ul>
              <li class="hl-label">Featured Categories:</li>
              <li><a href="#" title="Habitasse Lateas">Habitasse Lateas</a></li>
              <li><a href="#" title="Milancelos ">Milancelos </a></li>
              <li><a href="#" title="Cosmodum Loremous">Cosmodum Loremous</a></li>
              <li><a href="#" title="Nostra Sinceptos">Nostra Sinceptos </a></li>
              <li><a href="#" title="Loremous">Loremous</a></li>
              <li><a href="#" title="Quisque Dolutpates">Quisque Dolutpates</a></li>
              <li class="showMore"><a href="javascript:void(0)">... More</a></li>
            </ul>
        </div>
    </div>
    <div class="hl-second-static hl-home-static">
        <div class="row">
            <div class="col-sm-6"><a href="#"><img src="/product_images/uploaded_images/banner-9.jpg" /></a></div>
            <div class="col-sm-6"><a href="#"><img src="/product_images/uploaded_images/banner-10.jpg" /></a></div>
        </div>
    </div>
    <!-- Four First category and banner -->
    <!-- Five category and banner -->
    <div id="block-5" class="hl-second-category hl-home-category">
        <h2 class="module-heading">
            <a href="/video-games-systems/" title="Video Games & Systems">Video Games & Systems</a>
            <ul  class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#new-products-5" role="tab" data-toggle="tab">New products</a></li>
                <li><a href="#top-sellers-5" role="tab" data-toggle="tab">Best selling</a></li>
                <li><a href="#featured-products-5" role="tab" data-toggle="tab">Featured Products</a></li>
                <li><a href="#most-popular-reviews-5" role="tab" data-toggle="tab">Most Popular Reviews</a></li>
            </ul>
        </h2>
        <div class="hl-home-category-content">
            <div class="col-sm-8 module-wrapper">
                <!-- begin product items -->                        
                <div  class="tab-content-bootstrap" data-tabs-content="example-tabs">
                    <div role="tabpanel" class="tab-pane active" id="new-products-5">
                        <div class="productBlockContainer"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="top-sellers-5">
                        <div class="productBlockContainer"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="featured-products-5">
                        <div class="productBlockContainer"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="most-popular-reviews-5">
                        <div class="productBlockContainer"></div>
                    </div>
                </div>
                <!-- End product items -->
            </div>
            <div class="col-sm-4 left">
                <div class="item-image">
                    <div class="owl-carousel">
                        <a href="#"><img src="/product_images/uploaded_images/banner-cat-5.png" /></a>
                        <a href="#"><img src="/product_images/uploaded_images/banner-cat-5.png" /></a>
                        <a href="#"><img src="/product_images/uploaded_images/banner-cat-5.png" /></a>
                    </div>
                </div>
                <ul class="cat-brand">
                    <li><a href="#"><img src="/product_images/uploaded_images/brand-01.png" /></a></li>
                    <li><a href="#"><img src="/product_images/uploaded_images/brand-02.png" /></a></li>
                    <li><a href="#"><img src="/product_images/uploaded_images/brand-03.png" /></a></li>
                    <li><a href="#"><img src="/product_images/uploaded_images/brand-04.png" /></a></li>
                    <li><a href="#"><img src="/product_images/uploaded_images/brand-05.png" /></a></li>
                    <li><a href="#"><img src="/product_images/uploaded_images/brand-06.png" /></a></li>
                </ul>
            </div>
        </div>
        <div class="hl-featured-category">
            <ul>
              <li class="hl-label">Featured Categories:</li>
              <li><a href="#" title="Habitasse Lateas">Habitasse Lateas</a></li>
              <li><a href="#" title="Milancelos ">Milancelos </a></li>
              <li><a href="#" title="Cosmodum Loremous">Cosmodum Loremous</a></li>
              <li><a href="#" title="Nostra Sinceptos">Nostra Sinceptos </a></li>
              <li><a href="#" title="Loremous">Loremous</a></li>
              <li><a href="#" title="Quisque Dolutpates">Quisque Dolutpates</a></li>
              <li class="showMore"><a href="javascript:void(0)">... More</a></li>
            </ul>
        </div>
    </div>
    <div class="hl-second-static hl-home-static">
        <div class="row">
            <div class="col-sm-6"><a href="#"><img src="/product_images/uploaded_images/banner-11.jpg" /></a></div>
            <div class="col-sm-6"><a href="#"><img src="/product_images/uploaded_images/banner-12.jpg" /></a></div>
        </div>
    </div>
    <!-- Five First category and banner -->
    <!-- Six category and banner -->
    <div id="block-6" class="hl-second-category hl-home-category">
        <h2 class="module-heading">
            <a href="/home-furniture/" title="Home Furniture">Home Furniture</a>
            <ul  class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#new-products-6" role="tab" data-toggle="tab">New products</a></li>
                <li><a href="#top-sellers-6" role="tab" data-toggle="tab">Best selling</a></li>
                <li><a href="#featured-products-6" role="tab" data-toggle="tab">Featured Products</a></li>
                <li><a href="#most-popular-reviews-6" role="tab" data-toggle="tab">Most Popular Reviews</a></li>
            </ul>
        </h2>
        <div class="hl-home-category-content">
            <div class="col-sm-8 module-wrapper">
                <!-- begin product items -->                        
                <div  class="tab-content-bootstrap" data-tabs-content="example-tabs">
                    <div role="tabpanel" class="tab-pane active" id="new-products-6">
                        <div class="productBlockContainer"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="top-sellers-6">
                        <div class="productBlockContainer"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="featured-products-6">
                        <div class="productBlockContainer"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="most-popular-reviews-6">
                        <div class="productBlockContainer"></div>
                    </div>
                </div>
                <!-- End product items -->
            </div>
            <div class="col-sm-4 left">
                <div class="item-image">
                    <div class="owl-carousel">
                        <a href="#"><img src="/product_images/uploaded_images/banner-cat-6.png" /></a>
                        <a href="#"><img src="/product_images/uploaded_images/banner-cat-6.png" /></a>
                        <a href="#"><img src="/product_images/uploaded_images/banner-cat-6.png" /></a>
                    </div>
                </div>
                <ul class="cat-brand">
                    <li><a href="#"><img src="/product_images/uploaded_images/brand-01.png" /></a></li>
                    <li><a href="#"><img src="/product_images/uploaded_images/brand-02.png" /></a></li>
                    <li><a href="#"><img src="/product_images/uploaded_images/brand-03.png" /></a></li>
                    <li><a href="#"><img src="/product_images/uploaded_images/brand-04.png" /></a></li>
                    <li><a href="#"><img src="/product_images/uploaded_images/brand-05.png" /></a></li>
                    <li><a href="#"><img src="/product_images/uploaded_images/brand-06.png" /></a></li>
                </ul>
            </div>
        </div>
        <div class="hl-featured-category">
            <ul>
              <li class="hl-label">Featured Categories:</li>
              <li><a href="#" title="Habitasse Lateas">Habitasse Lateas</a></li>
              <li><a href="#" title="Milancelos ">Milancelos </a></li>
              <li><a href="#" title="Cosmodum Loremous">Cosmodum Loremous</a></li>
              <li><a href="#" title="Nostra Sinceptos">Nostra Sinceptos </a></li>
              <li><a href="#" title="Loremous">Loremous</a></li>
              <li><a href="#" title="Quisque Dolutpates">Quisque Dolutpates</a></li>
              <li class="showMore"><a href="javascript:void(0)">... More</a></li>
            </ul>
        </div>
    </div>
    <div class="hl-second-static hl-home-static">
        <div class="row">
            <div class="col-sm-6"><a href="#"><img src="/product_images/uploaded_images/banner-13.jpg" /></a></div>
            <div class="col-sm-6"><a href="#"><img src="/product_images/uploaded_images/banner-14.jpg" /></a></div>
        </div>
    </div>
    <!-- Six First category and banner -->
</div>
