<div class="contCategory">
    <div class="hl-featured-category">
        <h2 class="module-heading">Browse by <span> Categories</span></h2>
        <div class="featured_category_content">
            <div class="row-item owl-carousel"
                data-owl='{
                    "nav": true,
                    "dots": false,
                    "items": 5,
                    "margin": 25,
                    "slideBy": 5,
                    "responsive": {
                     "0": {
                        "items": 1,
                        "slideBy": 1,
                        "margin": 0
                     },
                     "480": {
                        "items": 2,
                        "slideBy": 2,
                        "margin": 0
                     },
                     "768": {
                        "items": 3,
                        "slideBy": 3
                     },
                     "992": {
                        "items": 4,
                        "slideBy": 4
                     },
                     "1199": {
                        "items": 5,
                        "slideBy":5
                     }
                  },
                  "responsiveRefreshRate": 0
                }'>
                <div class="item-category item">
                    <a href="#" class="item-image"><img src="/product_images/uploaded_images/danfoss-vacon-vlt-soft-starters-category.jpg" /></a>
                    <h3><a href="#" title="Soft Starters">Soft Starters</a></h3>
                    <p>VLT® Soft Starter MCD</p>
                </div>
                <div class="item-category item">
                    <a href="#" class="item-image"><img src="/product_images/uploaded_images/danfoss-vacon-vlt-spare-parts-and-accessories-for-compressors-category.jpg" /></a>
                    <h3><a href="#" title="Spare parts and accessories for compressors">Spare parts and accessories for compressors</a></h3>
                </div>
                <div class="item-category item">
                    <a href="#" class="item-image"><img src="/product_images/uploaded_images/danfoss-vacon-vlt-ic2-micro-frequency-converter-category.jpg" /></a>
                    <h3><a href="#" title="iC2-Micro Frequency converter">iC2-Micro Frequency converter</a></h3>
                </div>
                <div class="item-category item">
                    <a href="#" class="item-image"><img src="/product_images/uploaded_images/danfoss-vacon-vlt-automationdrive-fc-360-category.jpg" /></a>
                    <h3><a href="#" title="VLT® AutomationDrive FC 360">VLT® AutomationDrive FC 360</a></h3>
                </div>
                <div class="item-category item">
                    <a href="#" class="item-image"><img src="/product_images/uploaded_images/danfoss-vacon-vlt-hvac-drive-fc-102-category.jpg" /></a>
                    <h3><a href="#" title="VLT® HVAC Drive FC 102">VLT® HVAC Drive FC 102</a></h3>
                </div>
                <div class="item-category item">
                    <a href="#" class="item-image"><img src="/product_images/uploaded_images/danfoss-vacon-vlt-filters-and-braking-options-category.jpg" /></a>
                    <h3><a href="#" title="Filters &amp; Braking Options">Filters &amp; Braking Options</a></h3>
                </div>
                <div class="item-category item">
                    <a href="#" class="item-image"><img src="/product_images/uploaded_images/danfoss-vacon-vlt-motion-controls-and-servo-drives-category.jpg" /></a>
                    <h3><a href="#" title="Motion Controls &amp; Servo Drives">Motion Controls &amp; Servo Drives</a></h3>
                </div>
                <div class="item-category item">
                    <a href="#" class="item-image"><img src="/product_images/uploaded_images/danfoss-vacon-vlt-gear-motors-category.jpg" /></a>
                    <h3><a href="#" title="Gear Motors">Gear Motors</a></h3>
                </div>
            </div>
        </div>
    </div>
</div>
