<div class="contCategory">
    <div class="hl-featured-category">
        <h2 class="module-heading">Shop by <span>Top Categories</span></h2>
        <div class="featured_category_content">
            <div class="row-item owl-carousel"
                data-owl='{
                    "nav": true,
                    "dots": false,
                    "items": 5,
                    "margin": 25,
                    "slideBy": 5,
                    "responsive": {
                     "0": {
                        "items": 1,
                        "slideBy": 1,
                        "margin": 0
                     },
                     "480": {
                        "items": 2,
                        "slideBy": 2,
                        "margin": 0
                     },
                     "768": {
                        "items": 3,
                        "slideBy": 3
                     },
                     "992": {
                        "items": 4,
                        "slideBy": 4
                     },
                     "1199": {
                        "items": 5,
                        "slideBy":5
                     }
                  },
                  "responsiveRefreshRate": 0
                }'>
                <div class="item-category item"> 
                    <a href="#" class="item-image"><img src="/product_images/uploaded_images/top-categories-1.jpg" /></a>
                    <h3><a href="#" title="Home Appliances">Home Appliances</a></h3>
                    <p>Sale up to 30% off on selected items</p>                      
                </div>
                <div class="item-category item"> 
                    <a href="#" class="item-image"><img src="/product_images/uploaded_images/top-categories-2.jpg" /></a>
                    <h3><a href="#" title="Computers & Laptops">Computers & Laptops</a></h3>                      
                </div>
                <div class="item-category item"> 
                    <a href="#" class="item-image"><img src="/product_images/uploaded_images/top-categories-3.jpg" /></a>
                    <h3><a href="#" title="Mobile Phones & Tablets">Mobile Phones & Tablets</a></h3>
                    <p>Sale up to 10% off on selected items</p>                      
                </div>
                <div class="item-category item"> 
                    <a href="#" class="item-image"><img src="/product_images/uploaded_images/top-categories-4.jpg" /></a>
                    <h3><a href="#" title="Cameras">Cameras</a></h3>
                    <p>Sale up to 25% off on selected items</p>                      
                </div>
                <div class="item-category item"> 
                    <a href="#" class="item-image"><img src="/product_images/uploaded_images/top-categories-5.jpg" /></a>
                    <h3><a href="#" title="Televisions">Televisions</a></h3>                      
                </div>
                <div class="item-category item"> 
                    <a href="#" class="item-image"><img src="/product_images/uploaded_images/top-categories-1.jpg" /></a>
                    <h3><a href="#" title="Video Games &amp; Systems">Video Games &amp; Systems</a></h3>                      
                </div>
            </div>
        </div>
    </div>
</div>
