<div class="halo-best-selling-promotion">
  <div class="container">
    <ul class="list-top">
      <li class="hl-label">eMartica’s Best Selling:</li>
      <li><a href="#" title="Mobiles & Tablets Accessories">Mobiles & Tablets Accessories</a></li>
      <li><a href="#" title="Microsoft Surface Pro 3">Microsoft Surface Pro 3</a></li>
      <li><a href="#" title="Smart Watches">Smart Watches</a></li>
      <li><a href="#" title="PlayStation 4 Pro Console">PlayStation 4 Pro Console</a></li>
      <li><a href="#" title="Canon EOS 700D">Canon EOS 700D</a></li>
      <li><a href="#" title="Samsung Smart TVs">Samsung Smart TVs</a></li>
      <li><a href="#" title="Home Appliances">Home Appliances</a></li>
      <li><a href="#"><span>Macenas Conguros</span></a></li>      
      <li><a href="#"><span>Sustoproines</span></a></li>      
      <li><a href="#"><span>Destetos Harcudos</span></a></li>
      <li class="showMore"><a href="javascript:void(0)">... More</a></li>
    </ul>

  </div>
</div>
{{#if page_type '==' 'default' }}
<div class="halo-custom-html-block hidden-mobile">
    <div class="container">
        <div class="row">
              <label class="hl-label">The Store Advantage</label>
              <div class="box wow fadeInUp" data-wow-delay="200ms">
                  <span class="icon"><i class="fa fa-check"></i></span>
                  <h4>Shop with confidence</h4>
              </div>
              <div class="box wow fadeInUp" data-wow-delay="300ms">                
                  <span class="icon"><i class="fa fa-cog"></i></span>
                  <h4>Customizable PCs</h4>
              </div>
              <div class="box last wow fadeInUp" data-wow-delay="400ms">                
                  <span class="icon"><i class="fa fa-star"></i></span>
                  <h4>Rewards Program</h4>
              </div>
              <div class="box last wow fadeInUp" data-wow-delay="500ms">                
                  <span class="icon"><i class="fa fa-rotate-left"></i></span>
                  <h4>14-Day Free Returns</h4>
              </div>
        </div>    
    </div>    
</div>
<div class="halo-custom-html-block hidden-pc">
    <div class="owl-carousel" data-owl='{
        "items": 1,
        "nav": true,
        "dots": false,
        "slideBy": 1,
        "responsive": {
           "0": {
              "items": 1,
              "slideBy": 1
           },
           "480": {
              "items": 1,
              "slideBy": 1
           },
           "600": {
              "items": 2,
              "slideBy": 2
           }
        },
        "responsiveRefreshRate": 0
     }'>
        <div class="box wow fadeInUp" data-wow-delay="200ms">
            <span class="icon"><i class="fa fa-check"></i></span>
            <h4>Shop with confidence</h4>
        </div>
        <div class="box wow fadeInUp" data-wow-delay="300ms">                
            <span class="icon"><i class="fa fa-cog"></i></span>
            <h4>Customizable PCs</h4>
        </div>
        <div class="box last wow fadeInUp" data-wow-delay="400ms">                
            <span class="icon"><i class="fa fa-star"></i></span>
            <h4>Rewards Program</h4>
        </div>
        <div class="box last wow fadeInUp" data-wow-delay="500ms">                
            <span class="icon"><i class="fa fa-rotate-left"></i></span>
            <h4>14-Day Free Returns</h4>
        </div>
    </div>
</div>
{{/if}}
