{{#partial "page"}}
<div class="container">
    <section class="page">
        <main class="page-content page-content--textCenter">
            <h1 class="page-heading">{{lang 'create_account.created.heading'}}</h1>
            <div class="account-created">
                <p>{{{lang 'create_account.created.intro' store_name=settings.store_name email=customer.email}}}</p>
                <a class="btn btn-primary" href="{{create_account.continue_url}}">{{lang 'create_account.created.continue'}}<i class="fa fa-chevron-right"></i></a>
            </div>
        </main>
    </section>
</div>
{{/partial}}
{{> layout/base}}
