<a href="javascript:void(0);" data-reveal-id="modal-size-chart-form" class="hide">Size Chart</a>
<div id="modal-size-chart-form" class="modal" data-reveal>
    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">size chart</h4>
        <a href="#" class="modal-close" aria-label="{{lang 'common.close'}}" role="button">
            <span aria-hidden="true">&#215;</span>
        </a>
    </div>
    <div class="modal-body" style="padding: 0;">
        <div class="text-center">
            <img src="/product_images/uploaded_images/size-1.jpg" alt="">
        </div>
    </div>
</div>
