<article class="card {{#if alternate}}card--alternate{{/if}}">
    <figure class="card-figure">
        {{#if theme_settings.show_product_brand}}
            {{#if brand.name}}
                <p class="prod-brand" data-test-info-type="brandName">{{brand.name}}</p>
            {{/if}}
        {{/if}}
        <h4 class="prod-name">
            <a href="{{url}}">{{name}}</a>
        </h4>
        <div class="prod-image">
            <a href="{{url}}">
                <img class="card-image lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{getImage image 'productgallery_size' (cdn theme_settings.default_image_product)}}"
                {{#if theme_settings.halothemes_images_swap}}
                {{#if images.length '>=' 2}}
                {{#each images}}
                {{#if @index '==' 1}}
                data-src-swap="{{getImage this 'productgallery_size' (cdn theme_settings.default_image_product)}}"
                {{/if}}
                {{/each}}
                {{/if}}
                {{/if}}
                alt="{{image.alt}}" title="{{image.alt}}">
            </a>
            <a href="/wishlist.php?action=add&product_id={{id}}" class="btnWL hidden-xs hidden-sm hidden-md" title="{{lang 'account.wishlists.add_item'}}">Wishlist</a>
            <div class="actions">
                {{#unless hide_product_quick_view}}
                    {{#if theme_settings.show_product_quick_view}}
                        <a href="#" class="btnQV hidden-xs hidden-sm hidden-md quickview" data-product-id="{{id}}">{{lang 'products.quick_view'}}</a>
                    {{/if}}
                {{/unless}}
            </div>
            {{#if price.saved}}
            <div class="sale-badge">{{lang 'products.sale_badge'}}</div>
            {{/if}}
        </div>
        <figcaption class="prod-desc">
            {{#if theme_settings.show_product_brand}}
                {{#if brand.name}}
                    <p class="prod-brand" data-test-info-type="brandName">{{brand.name}}</p>
                {{/if}}
            {{/if}}
            <h4 class="prod-name">
                <a href="{{url}}" data-product-id="{{id}}">{{name}}</a>
            </h4>

            <div class="star-rating" data-test-info-type="productRating">
                <div class="rating--small">
                    {{> components/products/ratings rating=rating}}
                </div>
            </div>

            <div class="prod-price" data-test-info-type="price">
                {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                    {{> components/products/price price=price customer=customer}}
                {{else}}
                    {{> components/common/login-for-pricing}}
                {{/or}}
            </div>
            {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
            {{#if show_cart_action}}
                <div class="addto-cart">
                {{#if has_options}}
                    <a href="{{url}}" class="btn btn-alt btnATC" data-product-id="{{id}}">{{lang 'products.choose_options'}}<i class="fa fa-chevron-right"></i></a>
                {{/if}}
                {{#if pre_order}}
                    <a href="{{url}}" class="btn btn-alt btnATC">{{lang 'products.pre_order'}}<i class="fa fa-chevron-right"></i></a>
                {{/if}}
                {{#if add_to_cart_url }}
                    <a href="{{add_to_cart_url}}" class="btn btn-alt btnATC">{{lang 'products.add_to_cart'}}<i class="fa fa-chevron-right"></i></a>
                {{/if}}
                {{#if out_of_stock_message }}
                    <a href="{{url}}" class="btn btn-alt btnATC" data-product-id="{{id}}">{{out_of_stock_message}}</a>
                {{/if}}
                </div>
            {{/if}}
            {{/or}}
        </figcaption>
    </figure>
</article>
